{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}بازیابی رمز عبور{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'accounts/css/account.css' %}">

<div class="card-accounts">
  <h2>فراموشی رمز عبور</h2>

  <form method="post" class="account-form">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn-accounts">ارسال لینک بازیابی</button>
  </form>

  <div class="account-footer">
    <a href="{% url 'account_login' %}">بازگشت به ورود</a>
  </div>
</div>
{% endblock %}
