{% extends "base.html" %}
{% load static %}
{% block title %}ایمیل ارسال شد{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'accounts/css/account.css' %}">

<div class="card-accounts">
  <h2>ایمیل بازیابی ارسال شد</h2>
  <p>
    اگر ایمیل واردشده در سیستم موجود باشد، لینک بازیابی رمز عبور برای شما ارسال شده است.
  </p>
  <p class="hint">
    لطفاً صندوق ورودی و پوشه Spam را بررسی کنید.
  </p>
  <div class="account-footer">
    <a href="{% url 'account_login' %}">بازگشت به ورود</a>
  </div>
</div>
{% endblock %}
